<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923452020193-4onfs9v694d1210gniaojsb9g7s14v8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923452020193-4onfs9v694d1210gniaojsb9g7s14v8b</string>
	<key>API_KEY</key>
	<string>AIzaSyAsvMTLnDrIwjD7uc3Lf1sC7mJJ8tCyy8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>923452020193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamedIsamil.chatbot</string>
	<key>PROJECT_ID</key>
	<string>chatbot-a9d5b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbot-a9d5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923452020193:ios:f19f4e07edac690411eea0</string>
</dict>
</plist>